@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

:root {
  --left-bg-color: rgba(125, 247, 241, 0.3);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
}

.navbar {
  width: 100% !important;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  padding: 0rem 2rem;
}

.navbar a {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}

.logo-gradient {
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-left: 12px;
  width: 20px;
  height: 20px;
  background-image: linear-gradient(
    to bottom left,
    #00f100,
    #50e3f5,
    #b67afe,
    #ff0084
  );
  animation: Anim 5s ease infinite;
}

.fas {
  color: #fff;
  font-size: 40px;
}

h2 {
  font-size: 2.5rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

p {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  font-weight: 600;
  background-clip: text;
  background-image: linear-gradient(
    to bottom left,
    #00f100,
    #50e3f5,
    #b67afe,
    #ff0084
  );
  background-size: 300% 100%;
  animation: Anim 5s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.social-links {
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
}

.links {
  color: #fff;
  font-size: 2rem;
  margin: 0 1rem;
  transition: 0.2s ease-in-out;
}

.links:hover {
  transform: scale(1.2);
}

.split.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url("https://images.unsplash.com/photo-1604964432806-254d07c11f32?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjIwMzcxMzQx&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit");
  background-repeat: no-repeat;
  background-size: cover;
}

.split-copy {
  margin: 0rem 2rem;
}

.split.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

.split.right {
  right: 0;
  background: url("https://images.unsplash.com/photo-1541336032412-2048a678540d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

@keyframes Anim {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 99% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@media (max-width: 950px) {
  h2 {
    font-size: 1.5rem;
    top: 30%;
  }

  p {
    font-size: 1rem;
    top: 40%;
  }

  .links {
    font-size: 1.2rem;
    margin: 1rem;
  }
}

@media (max-width: 475px) {
  .split {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gradient {
    animation: none;
    background-image: linear-gradient(to bottom left, #00f100, #50e3f5);
  }

  h2 {
    font-size: 1rem;
    white-space: pre-wrap;
    width: 100px;
  }

  p {
    text-align: start;
    top: 45%;
  }

  /* .hover-left,
  .hover-right {
    display: none;
  } */
}
